services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${DOCKER_CONTAINER_NAME:-jps-landingpage}
    environment:
      - NODE_ENV=production
      - NUXT_PUBLIC_API_BASE=${API_BASE_URL}
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3000/ || exit 1"]
      interval: 30s
      timeout: 5s
      start_period: 10s
      retries: 3
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    # ports:
    #   - "${APP_PORT:-3000}:3000"
    restart: unless-stopped
